speak
  p Gesundheit und Medizin
  p Gesundheitliche Risiken beim Cannabis-Konsum sind moderaat, insbesondere bei Konsum formen, bei welchen keine Verbrennungsprozesse ablaufen. Alkohol und Tabak sind insbesondere für Erwachsene meist gefährlicher als der gelegentliche Cannabiskonsum. Entsprechend dient die Initiative der Aufklärung, in dem sie die Gefährlichkeit von anderen Substanzen hervorheebt und der Stigmatisierung von Cannabiskonsumierenden entgegenhält.
  p Im Gegensatz zu anderen bereits legalen Substanzen bietet Cannabis auch breite therapeutische Möglichkeiten. In vielen Ländern ist Cannabis als Medizin erfolgreich ein Teil der öffentlichen Gesundheitsversorgung. In der Schweiz wird sogar die Selbstmedikation unter Strafe gestellt. Die Initiative bietet Patienten und Patientinnen die Möglichkeit, Cannabis legal zu erwerben, und sich selber zu therapieren.
